/* ********************
  tag
******************** */
* {
  -webkit-appearance: none;
}
body {
  background-color: #231E18;
  color: #f2eee2;
  text-align: center;
}
input[type="number"], input[type="text"], textarea {
  user-select: text;
  -ms-user-select: text;
  -webkit-user-select: auto;
  -moz-user-select: text;
  outline: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: #f2eee2;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /*height: 20px;
  padding: 8px 12px;
  width: 166px;
  margin: 2px 0;*/
  border: none;
  color: #231E18;
  border-radius: 3px;
}
input[type="number"], input[type="text"] {
  padding: 0 5px;
  margin: 0;
  height: 100%;
  width: calc(100% - 10px);
}
/* Chrome,Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* IE */
input[type="number"] {
  -moz-appearance: textfield;
}
select {
  outline: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  /*-webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;*/
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #4e4830;
  color: #f2eee2;
  width: 100%;
  border-radius: 3px;
  /*margin: 3px 2px;*/
  margin: 2px 0;
}
select option{
  background-color: #fff;
  color: #333;
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}
select optgroup {
  color: #333;
}
/* ********************
  .menu
******************** */
.menu {
  width: 960px;
  height: 50px;
  margin: 0 auto;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
  display: inline;
  padding: 0;
  margin: 0;
  float: left;
}
.menu li a {
  display: block;
  border-bottom: 1px solid #f2eee2;
  padding: 3px 10px;
  text-decoration: none;
  color: #E1E2CF;
  width: 100px;
  margin: 5px 10px;
  /*text-align: left;*/
  font-size: 14px;
  /*text-align: center;*/
}
.menu li:first-child a {
  margin-right: 410px;
}
.menu li a:hover {
  background-color: rgba(71, 70, 85, 0.6);
}
/* ********************
  .screeen
******************** */
.screeen {
  background-color: #231E18;
}
.screeen>.box>div {
  border: solid 1px #4e4830;
  width: 310px;
  margin: 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
@media all and (-ms-high-contrast:none){
  .screeen>.box>div{width: 309px;}
}
@media all and (-ms-high-contrast:active){
  .screeen>.box>div{width: 309px;}
}
.screeen h2 {
  /*text-align: center;*/
  color: #f2eee2;
  line-height: 1;
  text-shadow: 0 0 1px #150f0f, 0 0 1px #150f0f, 0 0 1px #150f0f, 0 0 2px #150f0f, 0 0 2px #150f0f, 0 0 2px #150f0f;
  background: url(image/title_h2.png) no-repeat;
  -webkit-background-size: 508px 36px;
  background-size: 508px 36px;
  width: 508px;
  height: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 6px;
  margin: 5px auto 5px;
}
.content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.content>div {
  margin: 5px 0;
  padding: 5px;
}
.image {
  position: relative;
  width: 90px;
  height: 51px;
  /*text-align: center;*/
}
.quality {
  bottom: 3px;
  right: 10px;
  position: absolute;
  color: #ffff5f;
  text-shadow: 0 0 1px #150f0f, 0 0 1px #150f0f, 0 0 1px #150f0f, 0 0 1px #150f0f, 0 0 2px #150f0f, 0 0 2px #150f0f, 0 0 2px #150f0f, 0 0 2px #150f0f;
}
.spec {
  background-color: #191313;
  width: 200px;
  font-size: 14px;
  line-height: 1;
  text-align: left;
}
.name {
  font-size: 12px;
  margin-bottom: 2px;
}
@media all and (-ms-high-contrast:none){
  .spec {width: 195px;}
}
@media all and (-ms-high-contrast:none){
  .spec {width: 195px;}
}
.breakword .info {
  width: 168px;
  font-size: 12px;
}
.job {
  display: table;
  width: 100%;
  height: 100%;
  color: #f2eee2;
  font-size: 32px;
  text-align: center;
  /*position: relative;*/
}
.job>div {
  display: table-cell;
  vertical-align: middle;
  /*height: 32px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;*/
}
.chara {}
.chara>div {}
.type-npc {
  position: relative;
}
.npc-rank {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 29px;
}
.ico-npc-rank {
  display: block;
  background: url(image/icon_type/icon_type8.png) no-repeat ;
  -webkit-background-size: 29px 29px;
  background-size: 29px 29px;
  width: 29px;
  height: 29px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 4px;
  left: 0px;
  margin: auto;
}
.txt-npc-rank {
  text-shadow: 0px 0px 1px #570980, 0px 0px 1px #570980, 0px 0px 1px #570980, 0px 0px 2px #570980, 0px 0px 2px #570980, 0px 0px 2px #570980;
  color: #ffffff;
  position: relative;
  /*text-align: center;*/
}
.rank0 {
  color: #f2eee2;
}
.rank3 {
  color: #ffa826;
  text-shadow: 0 0 1px #694429, 0 0 1px #694429, 0 0 1px #694429, 0 0 2px #694429, 0 0 2px #694429, 0 0 2px #694429;
}
.rank4 {
  color: #e3b7ff;
  text-shadow: 0 0 1px #7f12b7, 0 0 1px #7f12b7, 0 0 1px #7f12b7, 0 0 2px #7f12b7, 0 0 2px #7f12b7, 0 0 2px #7f12b7;
}
.type8 textarea {
  font-size: 12px;
  overflow:hidden;
  resize: none;
  margin-top: 4px;
  height: 70px;
  width: 166px;
  margin: 0;
  padding: 8px 12px;
}
/* ********************
  .setting
******************** */
.setting {
  /*text-align: center;*/
}
.setting>.box>div {
  border: none;
  width: 310px;
  margin: 5px;
}
.setting .c_type,
.setting .c_rarity,
.setting .c_level,
.setting .c_quality {
  width: calc(25% - 3px);
  margin: 2px;
}
.setting .type9 .c_type,
.setting .type9 .c_rarity {
  width: calc(50% - 2px);
}
.setting .c_type,
.setting .type9 .c_type {
  margin-left: 0;
}
.setting .c_quality,
.setting .type9 .c_rarity {
  margin-right: 0;
}
.setting .select {
  height: 48px;
}
.setting .select>div {
  width: calc(50% - 2px);
  margin: 2px;
}
.setting .select>div:first-child {
  margin-left: 0;
}
.setting .select>div:last-child {
  margin-right: 0;
  padding: 3px 0;
}
.select {
  /*position: relative;*/
}
.setting .select8 {
  height: auto;
}
.setting .select8 > div {
  margin-top: 0;
  margin-bottom: : 0;
}
.setting .select8 > div:first-child {
  width: calc(100% - 194px);
}
.setting .select8 > div:last-child {
  width: auto;
}
/* ********************
  .title
******************** */
.title {
  color: #f2eee2;
  /*text-align: center;*/
  border-bottom: 2px solid #343027;
  margin: 3px 10px;
}
.type_icon:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 100%;
  position: relative;
  top: 1px;
  right: 2px;
}
.type1 .type_icon:before {background: url(image/icon_type/icon_type1.png);}
.type2 .type_icon:before {background: url(image/icon_type/icon_type2.png);}
.type3 .type_icon:before {background: url(image/icon_type/icon_type3.png);}
.type4 .type_icon:before {background: url(image/icon_type/icon_type4.png);}
.type5 .type_icon:before {background: url(image/icon_type/icon_type5.png);}
.type6 .type_icon:before {background: url(image/icon_type/icon_type6.png);}
.type7 .type_icon:before, .type8 .type_icon:before {background: url(image/icon_type/icon_type0.png);}
/* ********************
  .radio
******************** */
.radio {
  margin: 2px 0;
}
.radio * {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
}
.radio input {
  display: none;
}
.radio span {
  display: block;
  float: left;
  cursor: pointer;
  width: 50%;
  height: 100%;
  background: #37332e;
  color: #869198;
  font-size: 16px;
  /*text-align: center;*/
  line-height: 35px;
  transition: .2s;
}
.radio label:first-child span {
  border-radius: 3px 0 0 3px;
}
.radio label:last-child span {
  border-radius: 0 3px 3px 0;
}
.radio .r_rank3 input:checked + span {
  background-color: #ffa826;
  color: #fff;
}
.radio .r_rank4 input:checked + span {
  background-color: #7f12b7;
  color: #fff;
}
.radio.resize {
  width: 190px;
  height: 40px;
  margin: 0 auto;
}
/* ********************
  .table
******************** */
.table {
  width: 960px;
  margin: 0 auto;
  padding: 10px 0;
  /*text-align: center;*/
}
.w640 {
  width: 640px;
  margin: 0 auto;
}
.p0 {
  padding: 0;
}
.adsense {}
/* ********************

******************** */
.add {
  text-align: right;
  margin: 5px 10px;
}
.breakword {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap:wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.table .box_arrow>div {
  border: none;
  width: 190px;
  margin: 10px;
}
.display_none {
  display: none !important;
}
/* どこ? */
.picture {
  width: : 960px !important;
  height: 420px !important;
  padding: 60px 0 !important;
}
/* ********************
  .button
******************** */
.button {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 10px auto;
  border-radius: 3px;
  display: inline-block;
  width: 200px;
  height: 54px;
  /*text-align: center;*/
  text-decoration: none;
  line-height: 54px;
  outline: none;
  border: none;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button {
  background-color: #bdc3c7;
  color: #fff;
}
.button:hover {
  background-color: #59b1eb;
}
/* ********************
  .arrow
******************** */
.arrow{
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}
.arrow::before,
.arrow::after{
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}
.arrow::before{
  left: -12px;
  width: 20px;
  height: 20px;
  border-top: 6px solid #f2eee2;
  border-right: 6px solid #f2eee2;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* ********************
  .float
******************** */
/* アニメーション */
.float {
  margin: 0 5px;
  animation: float 4s linear infinite;
  transform-origin: 50% 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display:inline-flex;
}
@keyframes float {
  0% { transform: translateY(0) }
  25% { transform: translateY(-6px) }
  50% { transform: translateY(0) }
  100% { transform: translateY(0) }
}
/* 吹き出しの設定 */
.float span {
  display: none;
  /*text-align: center;*/
}
.float:hover {
  /* アニメーション止める */
  animation-play-state: paused;
  position: relative;
}
/* マウスオーバー時にツールチップを表示 */
.float:hover span {
  /* ボックス要素にする */
  display: block;
  /* relativeからの絶対位置 */
  position: absolute;
  top: 25px;
  font-size: 90%;
  color: #fff;
  background-color: #51A2C1;
  width: 205px;
  padding: 5px;
  border-radius:3px;
  z-index:100;
}

/* フキダシ部分を作成 */
.float span:before{
  content:'';
  display:block;
  /* relativeからの絶対位置 */
  position:absolute;
  height:0;
  width:0;
  top:-13px;
  left:15px;
  border:13px transparent solid;
  border-right-width:0;
  border-left-color:#51A2C1;
  /* 傾きをつける */
  transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  z-index:100;
}

/* ********************
　フォント
　http://qiita.com/RinoTsuka/items/4181efd43d072e246519
******************** */
@font-face{
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: 300;
}
@font-face{
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: 500;
}
@font-face{
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}
/* IE10以上 */
@media all and (-ms-high-contrast: none)  {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}
@media all and (-ms-high-contrast: active) {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}
